<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
				"-//mybatis.org//DTD Mapper 3.0//EN" 
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="p_case">

	<!-- for test -->
	<select id="countAll" resultType="int">
		select count(*) from p_case
	</select>
	
	<!-- case_gc_length ? 이하 값// WHERE case_gc_length <= ? -->
	<select id="caseList" parameterType="int" resultType="com.database.p_case.dto.CaseDTO">
	SELECT *
	FROM
	(SELECT * FROM p_case WHERE case_status=0) pcase
	WHERE case_gc_length <![CDATA[ <= ]]> #{caseLeng}
	ORDER BY case_gc_length,case_price;
	</select>



</mapper>		 
