<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
				"-//mybatis.org//DTD Mapper 3.0//EN" 
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="p_cooler">

	<!-- for test -->
	<select id="countAll" resultType="int">
select count(*) from p_cooler
	</select>


</mapper>		 
