<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
				"-//mybatis.org//DTD Mapper 3.0//EN" 
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="p_mainboard">

	<!-- for test -->
	<select id="countAll" resultType="int">
select count(*) from p_mainboard
	</select>

	<!-- Mainboard 상세정보 구하기 -->
	<select id="getMainboardInfo" resultType="mainboardDTO" parameterType="int">
	SELECT * FROM p_mainboard WHERE mb_no = #{mb_no}
	</select>
	<!-- Mainboard 상세정보 구하기 -->
	
		<!-- Mainboard 정보 입력하기 -->
	<insert id="insertMainboard">
	INSERT INTO p_mainboard(mb_name, mb_company, mb_socket, mb_chipset, mb_ramslot, mb_regdate, mb_price, mb_image)
	VALUES(#{mb_name},#{mb_company},#{mb_socket},#{mb_chipset},#{mb_ramslot},now(),#{mb_price},#{mb_image})
	</insert>
	<!-- Mainboard 정보 입력하기 -->
	
	<!-- Mainboard 정보 수정하기 -->
	<update id="updateMainboard" parameterType="mainboardDTO">
	UPDATE p_mainboard SET	mb_name =		#{mb_name},
							mb_company = 	#{mb_company},
							mb_socket = 	#{mb_socket},
							mb_chipset = 	#{mb_chipset},
							mb_ramslot =	#{mb_ramslot},
							mb_price = 		#{mb_price},
							mb_image =		#{mb_image}
	WHERE mb_no = #{mb_no}
	</update>	
	<!-- Mainboard 정보 수정하기 -->
	
	<!-- Mainboard socketList -->
	<select id="mainboardSocketList" resultType="String">
		SELECT mb_socket 
		FROM p_mainboard
		GROUP BY mb_socket asc
		ORDER BY mb_socket
	</select>
	<!-- Mainboard socketList -->
	
	
	<!-- Mainboard List  -->
	
	<select id="mainboardList" resultType="mainboardDTO" parameterType="String">
	SELECT * 
	FROM
	(SELECT * FROM p_mainboard WHERE mb_status=0 AND mb_socket like CONCAT('%', #{mb_socket})) p_main
	ORDER BY mb_socket,mb_ramslot,mb_price
	</select>
</mapper>		 
