<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
				"-//mybatis.org//DTD Mapper 3.0//EN" 
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="p_power">

	<!-- for test -->
	<select id="countAll" resultType="int">
select count(*) from p_power
	</select>
	
		<!-- Power 정보 불러오기 -->	
	<select id="getPowerInfo" resultType="powerDTO" parameterType="int">
		SELECT * FROM p_power WHERE power_no = #{power_no}
	</select>
	
		<!-- Power 정보 입력하기 -->
	<insert id="insertPower">
	INSERT INTO p_power(power_name, power_company, power_capacity, power_regdate, power_price, power_image)
	VALUES(#{power_name},#{power_company},#{power_capacity},now(),#{power_price},#{power_image})
	</insert>
	<!-- Power 정보 입력하기 -->
	
	<!-- powerList -->
	<select id="powerList" parameterType="int" resultType="powerDTO">
	SELECT * 
	FROM
	(SELECT * FROM p_power WHERE power_status=0) p_power
	WHERE power_capacity <![CDATA[ >= ]]> #{power_capacity}
	ORDER BY power_capacity,power_price
	
	</select>
</mapper>		 

